* {
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100%;
}

body {
  background-color: #eee;
  padding: 3em;
  margin: 0;
  box-shadow: 0.75em 0.75em 0 #555;
}

h1 {
  margin-bottom: .75em;
}

p {
  font-size: 1.25em;
  margin-top: 1em;
}
